@import "../../node_modules/tabulator-tables/dist/css/tabulator.min.css";

$background: #cfd8dc;

#page-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 1fr;
  height: 100%;
  overflow: hidden;
  grid-gap: 1px 1px;
  background-color: black;
  border: 1px solid black;
}

#upload-container {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $background;
}

#table-container {
  grid-column: 1;
  grid-row: 2;
  overflow: auto;
  background-color: $background;
}

#plot-container {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: $background;
}