
.topsoil-plot-container {
  // display: "flex";
  // flex-direction: column;
  // align-items: center;
  width: 100%;
  height: 100%;
}

.topsoil-plot-button-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 2em;
  padding: 0.5em;
  background-color: lightgray;

  > * {
    margin: 0.5em;
  }
}

.topsoil-plot-root {
  width: 100%;
  height: calc(100% - 3em);
  background-color: white;
}