@import "../../../node_modules/tabulator-tables/dist/css/tabulator.min.css";

.full-size {
  width: 100%;
  height: 100%;
}

.v-center-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-center-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inline-block {
  display: inline-block;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.split,
.gutter.gutter-vertical {
  background-image: url("../../img/horizontal-grip.png");
  background-repeat: no-repeat;
  background-color: rgb(102, 102, 102);
  background-position: center;
  cursor: "grabbing";
}

.split,
.gutter.gutter-horizontal {
  display: inline-block;
  // float: left;
  height: 100%;
  background-image: url("../../img/vertical-grip.png");
  background-repeat: no-repeat;
  background-color: rgb(102, 102, 102);
  background-position: center;
  cursor: "grabbing";
}

#page-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  height: 100%;
}

#toolbar {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 50px;
  height: 100%;
  background-color: green;
}
.toolbar-item {
  display: block;
  width: 80px;
  margin: 10px 10px 0 0;
}

#info-container {
  // display: inline-block;
  float: left;
  overflow: auto;
  // width: 25%;
  // height: 50%;
}

#info-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: auto;
  padding: 5px;
}
.info-item {
  margin: 5px;
}

#logo {
  background-image: url("../../img/logos/Topsoil.svg");
  width: 100px;
  height: 100px;
}

#blurb {
  max-width: 300px;
  text-align: center;
}

.info-link {

}

#table-container {
  // height: 50%;
}

#plot-container {
  display: inline-block;
  width: 70%;
}

#plot {
  display: inline-block;
  height: 100%;
  background-color: white;
}

#plot-panel {
  display: inline-block;
  height: 100%;
  background-color: lightgray;
}